.App {
  text-align: center;
}


.navbar{
  padding: 30px;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  border-bottom: 3px solid #ccc ;
}
.navbar h1{
  color: rebeccapurple;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 20px;
  text-decoration: none;
  padding: 15px;
}
.content{
  padding: 30px;

}
.form input {
  margin-bottom: 10px;
  padding: 5px;
}

.form button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.home h1{
  font-weight: bolder;
  font-size: 30px;
}

.todoList{
  list-style-type: none;
  padding: 2px;
  overflow: hidden;
  box-shadow: 1px 2px 4px 5px rgba( 0, 0, 0, 0.1);
  border-radius: 10px ;
}
.todoList li{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}