
.App {
  text-align: left;

}
.content {

          padding: 10px;
}

.navbar{
  padding: 30px;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  border-bottom: 3px solid #ccc ;
}
.navbar h1{
  color: rebeccapurple;
  font-size: 25px;
  font-weight: 900;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 20px;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
}
.navbar a:hover{
  color: blue;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.home h1{
  font-weight: bolder;
  font-size: 30px;
}

.todoList{
  list-style-type: none;
  padding: 2px;
  overflow: hidden;
  border-radius: 10px ;
  width: 400px;
  font-size: x-large;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  color: black !important;
  background-color: white;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;

}
.form button{
  padding: 10px;
  border-radius: 10px;
  background-color: blue !important;
  color: white;
  margin-bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
}

.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 2px solid #d1d3d4;
}

.preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.preview h3 {
  font-size: 15px;
  color: rgb(16, 16, 20) !important;
  margin-bottom: 6px;
}
.preview a{
  text-decoration: none !important;
}
.preview button {
  padding: 5px;
  border-radius: 10px;
  background-color: #8052ec ;
  color: white;
  position: relative;
  float: right;
  width: 10%;
  height: 35px;
  cursor: pointer ;
  border:  none;
  outline: none;
}